.profile {
  opacity: 1;
  transition: 0.3s;
  transform: translate3d(0px, 0, 50px);
  position: absolute;
  width: 270px;
  height: 152px;
  padding: 32px 24px;
  background: #ffffff;
  box-shadow: 4px 4px 4px rgba(54, 54, 54, 0.05),
    -4px 4px 4px rgba(54, 54, 54, 0.05);
  border-radius: 0px 0px 10px 10px;
  z-index: 20;
  top: 80px;
  .profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 32px;
    height: 100%;
    h3,
    a {
      margin: 0;
      font-weight: 700;
      font-size: 18px;
      line-height: 28px;
      color: #363636;
      cursor: pointer;
    }
  }
}
.profile.disable {
  transform: translate3d(0, 50px, 0);
  transition: 0.5s;
  opacity: 0;
  pointer-events: none;
}
