.view-of-books {
  display: flex;
}
.btnSqure {
  margin-right: 16px;
}
.btnSqure,
.btnLine {
  width: 38px;
  height: 38px;
  outline: none;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2))
    drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18))
    drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  background-color: #ffffff;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #a7a7a7;

  cursor: pointer;

  &:hover {
    color: #f85f00;
    filter: drop-shadow(0px 2px 5px rgba(54, 54, 54, 0.1));
  }
  &:active {
    filter: drop-shadow(0px 3px 4px rgba(222, 125, 11, 0.2))
      drop-shadow(0px 1px 10px rgba(249, 89, 8, 0.2));
  }
}
.btnSqure.active,
.btnLine.active {
  color: white;
  background: linear-gradient(231.58deg, #f83600 -53.35%, #f9d423 297.76%);
}

@media (max-width: 320px) {
  .view-of-books.disable {
    display: none;
  }
  .btnSqure,
  .btnLine {
    height: 32px;
    width: 32px;
    overflow: auto;
  }
}
