@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

header {
  height: 105px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 1110px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  flex-basis: 165px;
  margin-right: 20px;
  .menu {
    .menu.item {
      width: 165px;
      height: 40px;
      background: url("../../../icons/logo.png") no-repeat;
    }
  }
  .disabled {
    display: none;
  }
}

.library {
  color: #363636;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  flex-basis: 420px;
}
.user {
  width: 300px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .user-name {
    font-weight: 600;
    font-size: 14px;
    color: #363636;
    margin-right: 16px;
  }
}
.img-user-container {
  width: 58px;
  height: 58px;
  filter: drop-shadow(0px 2px 4px rgba(191, 196, 201, 0.2))
    drop-shadow(0px 3px 4px rgba(191, 196, 201, 0.18))
    drop-shadow(0px 1px 5px rgba(191, 196, 201, 0.24));
  .img-user {
    max-width: 100%;
    max-height: 100%;
  }
}

@media (min-width: 768px) and (max-width: 1440px) {
  .header-container {
    width: calc(640px + (1110 - 640) * ((100vw - 768px) / (1440 - 768)));
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .header-container {
    width: calc(288px + (640 - 288) * ((100vw - 320px) / (768 - 320)));
  }
}

@media (max-width: 768px) {
  header {
    height: 94px;
  }
  .header-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
  }
  .user {
    display: none;
  }

  .logo {
    flex-basis: 45px;
    margin-right: 24px;
    .menu {
      display: none;
    }

    .disabled,
    .disabled.burger {
      display: block;
      cursor: pointer;
      width: 32px;
      height: 32px;
      background: url("../../../icons/responsiveMenu_icon.svg") no-repeat;
      background-position: center;
    }
    .disabled.burger {
      background: url("../../../icons/menu_close.svg") no-repeat;
    }
  }
}
@media (max-width: 320px) {
  header {
    height: 76px;
  }

  .library {
    font-size: 18px;
    line-height: 28px;
  }
  .logo {
    padding-left: 5px;
    .disabled {
      display: block;
      cursor: pointer;
      width: 24px;
      height: 24px;
      background: url("../../../icons/responsiveMenu_icon.svg") no-repeat;
      background-position: center;
    }
    .disabled.burger {
      width: 14px;
      height: 14px;
      background: url("../../../icons/menu_close.svg") no-repeat;
      background-position: center;
    }
  }
}
