.restore-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  width: 528px;
  height: 422px;
  background: #ffffff;
  border-radius: 16px;
  padding: 0px 0px 48px;
}
.back-to-login-link-container {
  padding: 20px 0px 20px 16px;
  width: 100%;
  height: 64px;
  background: #f9f9fa;
  border-radius: 16px 16px 0px 0px;
  .back-to-login-link {
    display: flex;
    gap: 12px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #727272;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    div {
      width: 24px;
      height: 24px;
    }
  }
}
.back-to-login-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 416px;
  height: 278px;
  h4 {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #363636;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .restore-form {
    width: calc(288px + (528 - 288) * ((100vw - 320px) / (768 - 320)));
  }
  .back-to-login-container {
    width: calc(262px + (416 - 262) * ((100vw - 320px) / (768 - 320)));
    height: calc(314px + (278 - 314) * ((100vw - 320px) / (768 - 320)));
  }
}
@media (max-width: 320px) {
  .restore-form {
    width: 288px;
    height: 458px;
  }
  .back-to-login-container {
    width: 262px;
    height: 314px;
    gap: 20px;
  }
}
